* {
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
}

#notes {
    display: grid;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e3e3e3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 25%;
    border: none;
    background: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #40ce5f;
    
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
textarea {
    position: relative;
}
/* Small Screen */
@media only screen and (max-width: 600px) {
  body {
    left: 8%;
  }
}